<div class="title-block">
  <h3 class="title">
    Planning page<span class="sparkline bar"></span>
  </h3>
</div>
<section *ngIf="isLoaded && categories.length; else emptyData" class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Outcome</h3>
          </div>
          <h5 class="planning-expenses pull-right">
            Total price: <span class="text-success">{{ bill.value | number:'1.2' }} {{ bill.currency }}</span>
          </h5>
        </div>
        <div class="card-block">
          <div class="row" *ngFor="let category of categories">
            <ng-container *ngIf="getCategoryPriority(category) as className">
              <div class="col-xs-6">
                <div class="n-progress">
                  <div
                    class="progress-bar {{ className }}"
                    [ngStyle]="{ width: getCategoryPercent(category) }">
                    <span>{{ category.name }}</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <p *ngIf="getCategoryCost(category) || '0' as result">
                  <span class="text-{{ className }}">{{ result | number:'1.2' }}</span> from
                  <span class="text-primary">{{ category.limit | number:'1.2' }}</span>| is
                  <span class="text-{{ className }}">{{ category.limit - result | number:'1.2' }}</span> {{ bill.currency }}
                </p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="!isLoaded" >
  Loading...
</section>

<ng-template #emptyData>
  <app-alert [type]="'warning'" *ngIf="isLoaded">
    You don't have any categories and actions
  </app-alert>
</ng-template>
