<div class="title-block">
  <h3 class="title">
    History Page<span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="onOpenFilter()">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>

<div *ngIf="!isLoaded" class="text-center">Loading...</div>

<div *ngIf="isLoaded">
  <app-history-chart [data]="chartData"></app-history-chart>
  <app-history-actions [actions]="filteredActions" [categories]="categories"></app-history-actions>

  <ng-container *ngIf="isFilterVisible">
    <app-history-filter
      [categories]="categories"
      (filterApply)="onFilterApply($event)"
      (filterCancel)="onFilterCancel()"
    ></app-history-filter>
  </ng-container>
</div>
