<div class="title-block">
  <h3 class="title">
    Records page<span class="sparkline bar"></span>
  </h3>
</div>
<section class="section" *ngIf="isLoaded">
  <app-alert
    *ngIf="message.text"
    [type]="message.type"
    (close)="onHideAlert($event)"
  >{{ message.text }}</app-alert>

  <div class="row">
    <div class="col-md-6">
      <app-action
        [categories]="categories"
        (addAction)="onAddAction($event)"
      ></app-action>
    </div>
    <div class="col-md-6">
      <app-category
        (addCategory)="onAddCategory($event)"
        (editCategory)="onEditCategory($event)"
        (removeCategory)="onRemoveCategory($event)"
        [categories]="categories"
        [channel$]="channel$"
      ></app-category>
    </div>
  </div>
</section>

<section class="section text-center" *ngIf="!isLoaded">Loading...</section>
