<div class="col col-xs-12 col-sm-12 col-md-6 col-xl-5 stats-col">
  <div class="card stats" style="height: 291px;">
    <div class="card-block">
      <div class="title-block">
        <h4 class="title">My Bill</h4>
      </div>
      <div class="row row-sm stats-container">
        <div class="col-xs-12 stat-col" *ngFor="let currency of currencies | keyvalue">
          <div *ngIf="currency.value.className as className" class="stat-icon">
            <i class="fa fa-{{ className }}"></i>
          </div>
          <div *ngIf="!currency.value.className" class="stat-icon">
            <span [innerHTML]="currency.value.text"></span>
          </div>
          <div class="stat">
            <div class="value">{{ currency.value.val | number: '.2' }}</div>
          </div>
          <progress class="progress stat-progress" value="100" max="100">
            <div class="progress">
              <span class="progress-bar" style="width: 100%;"></span>
            </div>
          </progress>
        </div>
      </div>
    </div>
  </div>
</div>
